body {
  margin: 0;
  padding: 0;
}

h2,
h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

/**
* Create a position for the map
* on the page */
#map {
  /**position: absolute;**/
  /**top: 0;**/
  bottom: 0;
  width: 100%;
  position: absolute;
  /**top: 20px;**/
  top: 73px;
  z-index: -100;
  bottom: 0px;
  left: 0;
  /**height: 100vh;**/
}

@media only screen and (orientation:portrait) {
  #map {
    top: 44px;
  }

}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 60px;
  font-family: Arial, sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.maplibregl-popup-close-button {
  color: black;
}

#features {
  top: 80px;
  height: 140px;
  margin-top: 10px;
  width: 250px;
}

.popups {
  width: 400px;
}